.container {
    width: 500px;
    height: 430px;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;

    min-height: 20vh;
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 150px;
}


